@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,800;1,300;1,800&display=swap');

.mainPage {
  background-color: #222244;
}

.header {
  background-color: #555588;
  font-size: 24px;
  color: white;
  font-family: Raleway;
  font-weight: 800;
  padding: 10px 10px;
}

